<?xml version='1.0' encoding='utf-8'?>
<plugin id="org.igs.cordova.psavermodechecker" version="0.1.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>psavermodechecker</name>
    <js-module name="psavermodechecker" src="www/psavermodechecker.js">
        <clobbers target="cordova.plugins.psavermodechecker" />
    </js-module>
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="psavermodechecker">
                <param name="android-package" value="org.igs.cordova.psavermodechecker.psavermodechecker" />
            </feature>
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
        </config-file>
        <source-file src="src/android/psavermodechecker.java" target-dir="src/org/igs/cordova/psavermodechecker/psavermodechecker" />
    </platform>
</plugin>